body {
    background:radial-gradient(#CCDAE0, #EDF2F4);
}

header {
    text-align: center;
}

h1 {
    color:#EF233C;
    font-size: xx-large;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    color:#2B2D42;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline dotted;
}

section {
    border: solid;
    border: outset black;
    border: 1px dotted
}

footer {
    text-align: right;
}

ul {
    list-style-type: none;
}

a:visited {
    color: grey;
}

a {
    color: #D90429;
}

a:hover {
text-decoration: underline;
color: #2B2D42;
}

article {
    border: solid black 1px;
}